<app-mat-form [baseFormHelper]="baseFormHelper"
              [title]="'Get started'"
              [submitLabel]="'Go'"
              (submitEvent)="doSubmit()"
              [actionLabel]="'Create an account'"
              (actionEvent)="doAction()">

  <ng-container [formGroup]="baseFormHelper.form" form-body>
    <app-mat-form-autocomplete-input
      [formGroup]="baseFormHelper.form"
      [label]="'Calling code'"
      [controlName]="'callingCode'"
      [placeholder]="'387'"
      [data]="autocompleteCountryCodes"
      [errors]="baseFormHelper.f.callingCode.errors"></app-mat-form-autocomplete-input>


    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Phone number'"
      [controlName]="'phoneNumber'"
      [placeholder]="'62 005 152'"
      [patternError]="'Phone number can only contain digits and has to be longer than 6 or shorter than 12 digits.'"
      [errors]="baseFormHelper.f.phoneNumber.errors"></app-mat-form-input>

    <hr/>

    <div class="form-group">
      <mat-checkbox>Stay logged in</mat-checkbox>
    </div>
  </ng-container>

</app-mat-form>
