<div>{{node.name}}</div>
<div (click)="back()" *ngIf="displayBack">Back</div>
<ul>
  <li *ngFor="let node of childNodes">
    <span (click)="node.directory ? getNodes(node) : getFile(node)">{{node.name}} - {{node.sizeInHuman}}
    - {{node.mimeType}} - Shared: {{node.public}} - Directory: {{node.directory}} - Deleted: {{node.deleted}}</span>
    <span (click)="delete(node)">Delete</span>
  </li>
</ul>
<label for="newDirectory">New directory</label>
<input id="newDirectory" type="text" [(ngModel)]="directoryInputValue"/>
<button (click)="createDirectory()">Create</button>
<input name="file" type="file" accept="*" multiple
       (change)="uploadFileSelected($event)"/>

<app-file-preview (deleteEmitter)="onDelete($event)"></app-file-preview>
