// STYLING MATERIAL COMPONENTS
.mat-spinner-sm {
  &.mat-progress-spinner {
    max-height: 25px;
    max-width: 25px;
  }

  svg {
    max-height: 25px;
    max-width: 25px;
  }
}

.input-holder {
  margin: 5px 0;
}
.form-group {
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

.mat-btn-icon {
  &.mat-button {
    padding-left: 10px;
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      .mat-icon {
        margin-right: 2.5px;
      }
    }
  }
}
.mat-btn-more {
  min-width: 40px !important;
  padding: 0 !important;
}
.sm {
  &.mat-toolbar {
    min-height: auto;
    .mat-toolbar-row {
      height: auto;
    }
  }
}

.mat-like-input {
  height: inherit;
  display: flex;
  border-bottom: 1px solid rgb(0, 0, .3);

  input {
    height: inherit;
    border: none;
    background: transparent;

    &:focus, &:active {
      outline: none;
    }
  }
}

// component like ->

hr {
  display: block;
  border: none;

  margin-top: 15px;
  margin-bottom: 15px;

  &.shadow-hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.lg {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
