<mat-toolbar class="nav-toolbar box-shadow-md d-flex justify-content-space-between">
  <div>
    <a class="logo-brand-a" href="/">
      <img class="logo-src" src="assets/images/corporate/logo/ping-logo.jpg" alt="Ping - Chat"/>
    </a>
  </div>
  <div class="links">
    <a routerLink="/get-started2">Old login</a>
    <a routerLink="/get-started2/join">Old join</a>
    <a routerLink="/get-started/login">Login</a>
    <a routerLink="/get-started/join">Join</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/data-space/eldar-jahijagic">Data space</a>
    <span>Features</span>
    <span>Chat</span>
  </div>
</mat-toolbar>
