<div id="main-header-nav" class="bg-white position-relative box-shadow z-index-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-white container">
    <p>Brand</p>
    <span class="fas fa-bars d-md-none" (click)="onToggleNavCollapse()"></span>
    <div id="navbarOffcanvas"
         class="navbar-collapse offcanvas-collapse"
         [class.open]="isNavOpen">
      <div class="d-md-none navbar navbar-light">
        <p>Brand</p>
        <i class="fas fa-times" (click)="onToggleNavCollapse()"></i>
      </div>
    </div>
  </nav>
  <div class="nav-scroller bg-white container">
    <nav class="nav nav-underline">
      <a class="nav-link active pl-0" href="/">Dashboard</a>
      <a class="nav-link" href="/">
        Friends
        <span class="badge badge-pill bg-light align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="/">Explore</a>
      <a class="nav-link" href="/">Suggestions</a>
      <a class="nav-link" href="/">Link</a>
      <a class="nav-link" href="/">Link</a>
      <a class="nav-link" href="/">Link</a>
      <a class="nav-link" href="/">Link</a>
      <a class="nav-link" href="/">Link</a>
    </nav>
  </div>
</div>
