@keyframes filePreviewFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.file-preview-main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background: transparent;

  &.fade-in {
    animation: filePreviewFadeIn 200ms ease-in-out;
  }

  app-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .file-preview-inner {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    .file-preview-content {
      width: 100%;
      height: calc(100% - 37px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(13, 14, 15, .95);

      .content-holder {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
          max-width: calc(100vw - 150px);
          max-height: calc(100vh - 150px);
          box-shadow: 1px 1px 10px 1.5px rgba(0, 0, 0, .25);
        }


        .video-wrapper {
          video {
            max-width: inherit;
            width: inherit;
            outline: none;
          }
        }

        .audio-wrapper {
          &.ping-poster {
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 35px;
            border-radius: 30px;

            audio {
              outline: none;
              margin: 0 5px 5px 5px;
            }
          }
        }
      }
    }

    .file-preview-toolbar {
      box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, .25);
      max-height: 37px;

      &.disabled {
        .toolbar-btn-container {
          &.actions {
            pointer-events: none;
            color: #555;
          }
        }
      }

      .toolbar-btn-container {
        background: #222;
        color: #DDD;

        &.actions {
          display: flex;
          background: #333;
          flex-grow: 1;
        }

        > div {
          padding: 10px 15px;
          font-size: 14px;
          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:hover {
            background: rgba(255, 255, 255, .1);
            color: #FFF;
          }
        }
      }
    }
  }
}
