<div class="file-preview-main-wrapper" [class.fade-in]="displaySelf" *ngIf="displaySelf">
  <div class="file-preview-inner">
    <div class="file-preview-toolbar d-flex justify-content-space-between" [class.disabled]="loading">
      <div class="toolbar-btn-container actions">
        <div>Hey</div>
        <div>There</div>
      </div>
      <div class="toolbar-btn-container close">
        <div (click)="displaySelf = false">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
    <div class="file-preview-content">
      <div class="loader-holder" *ngIf="loading">
        <app-loader [colorClass]="'ping-blue'"></app-loader>
      </div>
      <div class="content-holder" *ngIf="!loading">
        <img [attr.src]="node.fileObjectUrl" [attr.alt]="node.name" *ngIf="isImage"/>

        <div *ngIf="isAudio" class="audio-wrapper ping-poster">
          <audio [attr.src]="node.fileObjectUrl" controls autoplay></audio>
        </div>

        <div *ngIf="isVideo" class="video-wrapper">
          <video [attr.src]="node.fileObjectUrl" controls autoplay
                 poster="./assets/images/corporate/other/ping-600x335-dark.png">
            <p>Your user agent does not support the HTML5 Video element.</p>
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
