<app-mat-form [baseFormHelper]="baseFormHelper"
              [title]="'Get started'"
              [submitLabel]="'Join'"
              (submitEvent)="doSubmit()"
              [actionLabel]="'Back to login'"
              (actionEvent)="doAction()">

  <ng-container [formGroup]="baseFormHelper.form" form-body>
    <app-mat-form-autocomplete-input
      [formGroup]="baseFormHelper.form"
      [label]="'Calling code'"
      [controlName]="'callingCode'"
      [placeholder]="'387'"
      [data]="autocompleteCountryCodes"
      [errors]="baseFormHelper.f.callingCode.errors"></app-mat-form-autocomplete-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Password'"
      [controlName]="'password'"
      [placeholder]="'km12#12k!'"
      [patternError]="'Password can only contain letters, numbers, special characters [#!%&=] and has to be min. 6 or max. 50 characters long.'"
      [errors]="baseFormHelper.f.password.errors"></app-mat-form-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Username'"
      [controlName]="'username'"
      [placeholder]="'eldarja'"
      [patternError]="'Username can only contain letters and has to be min. 3 or max. 25 characters long.'"
      [errors]="baseFormHelper.f.username.errors"></app-mat-form-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Phone number'"
      [controlName]="'phoneNumber'"
      [placeholder]="'62 005 152'"
      [patternError]="'Phone number can only contain digits and has to be longer than 6 or shorter than 12 digits.'"
      [errors]="baseFormHelper.f.phoneNumber.errors"></app-mat-form-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Email'"
      [controlName]="'email'"
      [placeholder]="'eldar.jahijagic@ping.me'"
      [errors]="baseFormHelper.f.email.errors"></app-mat-form-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'First name'"
      [controlName]="'firstName'"
      [placeholder]="'Eldar'"
      [errors]="baseFormHelper.f.firstName.errors"></app-mat-form-input>

    <app-mat-form-input
      [formGroup]="baseFormHelper.form"
      [label]="'Last name'"
      [controlName]="'lastName'"
      [placeholder]="'Jahijagic'"
      [errors]="baseFormHelper.f.lastName.errors"></app-mat-form-input>
  </ng-container>

</app-mat-form>
