// SHADOWS
.box-shadow-lg {
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, .15);
}

.box-shadow-md {
  box-shadow: 1px 2.5px 10px 2.5px rgba(0, 0, 0, .1);
}

.box-shadow-sm {
  box-shadow: 1px 2.5px 10px 1px rgba(0, 0, 0, 0.1);
}
