// FLEX
.d-flex {
  display: flex;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
// POSITIONING
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
