<div class="login-form box-shadow-sm mt-50 p-25">
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="d-flex justify-content-space-between align-items-center">
        <span>Get started</span>
        <mat-spinner class="mat-spinner-sm" *ngIf="formLoading"></mat-spinner>
      </div>

      <div class="form-group">
        <div class="input-holder p-relative">
          <mat-form-field appearance="outline" [attr.disabled]="formLoading">
            <mat-label>Calling code</mat-label>
            <input matInput formControlName="callingCode" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let code of filteredCountryCodes" [value]="code.labelValue">
                <span>{{code.labelValue}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="form-field-errors" [class.visible]="f.callingCode.errors && (f.callingCode.touched)">
            <mat-error [class.visible]="f.callingCode.errors.required">Calling code is required</mat-error>
            <mat-error [class.visible]="f.callingCode.errors.unexistingValue">Invalid calling code</mat-error>
          </div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input (blur)="baseFormHelper.trimInput($event)" matInput placeholder="62 005 152" formControlName="phoneNumber">
        </mat-form-field>

        <div class="form-field-errors" [class.visible]="f.phoneNumber.errors && (f.phoneNumber.touched)">
          <mat-error [class.visible]="f.phoneNumber.errors.required">Phonenumber is required</mat-error>
          <mat-error [class.visible]="f.phoneNumber.errors.pattern">
            Phone number can only contain digits and has to be longer than 6 or shorter than 12 digits.
          </mat-error>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <mat-checkbox>Stay logged in</mat-checkbox>
      </div>

      <hr class="shadow-hr"/>

      <div class="form-group d-flex justify-content-space-between">
        <button mat-stroked-button>
          <div class="d-flex align-items-center justify-content-center">
            <mat-spinner class="mat-spinner-sm mr-10" *ngIf="submitLoading"></mat-spinner>
            <span>Go</span>
          </div>
        </button>
        <div class="d-flex align-items-center">
          <span class="sm mr-5"><i>...or</i></span>
          <a mat-button routerLink="/get-started/join">Create an account</a>
        </div>
      </div>

    </form>
  </div>
</div>
