<div class="profile-header">
  <div class="profile-photo-wrapper">
    <p>Avatar: {{profileSrc}}</p>
    <div>
      <div class="profile-photo" [ngStyle]="{'background-image': 'url(' + profileSrc + ')'}">
      </div>
      <input name="avatarFile" type="file"
             accept="image/*"
             (change)="avatarUploadFileSelected($event)"/>
    </div>
  </div>
  <div class="profile-photo-wrapper">
    <p>Cover: {{coverSrc}}</p>
    <div>
      <div class="profile-photo" [ngStyle]="{'background-image': 'url(' + coverSrc + ')'}">
      </div>
      <input name="coverFile" type="file"
             accept="image/*"
             (change)="coverUploadFileSelected($event)"/>
    </div>
  </div>
</div>
