<app-data-space-navigation
  [selectionLength]="selection.selected.length"
  (searchEmitter)="searchFilter($event)">
</app-data-space-navigation>
<div class="mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="d-flex justify-content-center p-25" *ngIf="dataSpaceEmpty; else dataSpaceTable">
    <p>There's nothing here, please upload some files or create a directory to get started.</p>
  </div>

  <ng-template #dataSpaceTable>
    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortDisableClear matSortDirection="desc">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef><i class="{{getFileIcon()}}"></i></th>
        <td mat-cell *matCellDef="let element"><i class="{{getFileIcon(element)}}"></i></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button (click)="openFilePreview(element)">{{element.name}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="private">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Visibility</th>
        <td mat-cell *matCellDef="let element"> {{element.private ? 'Private' : 'Public'}} </td>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ploaded</th>
        <td mat-cell *matCellDef="let element"> {{getHumanTimestamp(element.creationTime)}} </td>
      </ng-container>

      <ng-container matColumnDef="lastModifiedTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last modified</th>
        <td mat-cell *matCellDef="let element"> {{getHumanTimestamp(element.lastModifiedTime)}} </td>
      </ng-container>

      <ng-container matColumnDef="mimeType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip color="primary" selected>{{getFileLabel(element.name)}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
      </ng-container>

      <ng-container matColumnDef="more">
        <th mat-header-cell *matHeaderCellDef>More</th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button class="mat-btn-more" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteItem(element)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <span *ngIf="selection.selected.length > 0" class="count-span p-absolute d-flex align-items-center">
      {{selection.selected.length}} selected
    </span>
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  </ng-template>
</div>
