.data-space-search {
  margin-top: -7.5px;
  padding: 0 16px;

  display: flex;
  align-items: center;

  .mat-like-input {
    height: 25px;
    input {
      font-size: 16px;
    }
  }

  .status-icon {
    &.success {
      color: limegreen;;
    }
    &.fail {
      color: red;
    }
  }

  .search-icon.mat-icon {
    font-size: 26px;
    margin-left: 25px;
    margin-right: 10px;
  }
}
