<mat-toolbar class="sm pt-10 pb-10 d-flex flex-row justify-content-space-between">
  <div class="sm pt-10 pb-10 d-flex flex-row justify-content-space-between">
    <button mat-button class="mat-btn-icon" [matMenuTriggerFor]="newMenu">
      <mat-icon>keyboard_arrow_down</mat-icon>
      New
    </button>
    <mat-menu #newMenu="matMenu">
      <button mat-menu-item (click)="openNewDirectoryDialog()">Directory</button>
    </mat-menu>

    <button mat-button class="mat-btn-icon" (click)="uploadFile()">
      <mat-icon>cloud_upload</mat-icon>
      Upload
    </button>
    <input id="uploadFileInput" type="file" (change)="uploadFileSelected($event)" multiple hidden />

    <button mat-button class="mat-btn-icon" [matMenuTriggerFor]="menu">
      <mat-icon>share</mat-icon>
      Share
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button class="mat-btn-icon" (click)="downloadMultipleNodes()">
      <mat-icon>cloud_download</mat-icon>
      Download
    </button>

    <button mat-button class="mat-btn-more" (click)="deleteMultipleNodes()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>

  <div class="data-space-search">
    <mat-spinner *ngIf="isLoading() " [diameter]="20" class="status-icon load"></mat-spinner>
    <span *ngIf="isSuccess()" class="status-icon success"><i class="fas fa-check-circle"></i></span>
    <span *ngIf="isFail()" class="status-icon fail"><i class="fas fa-times-circle"></i></span>
    <mat-icon class="search-icon">search</mat-icon>
    <div class="mat-like-input" >
      <input placeholder="Search..." (keyup)="searchFilter($event.target.value)">
    </div>
  </div>
</mat-toolbar>
