.data-space-search {
  margin-top: -7.5px;
  padding: 0 16px;
  .mat-icon {
    position: relative;
    top: 8px;
    font-size: 26px;
    margin-right: 10px;
  }
  .data-space-search-input {
    font-size: 15px;
    max-height: 30px;
  }
}
