<div class="d-flex justify-content-right">
  <button mat-icon-button color="primary" (click)="cancel()" class="p-absolute preview-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div>
    <mat-spinner class="mat-spinner-sm" *ngIf="fileLoading && fileType !== 'video'; else filePreview"></mat-spinner>
    <ng-template #filePreview>
      <div *ngIf="fileType === 'image'">
        <img [attr.src]="filePreviewSrc" [attr.alt]="data.node.name"/>
      </div>
      <div *ngIf="fileType === 'audio'" class="audio-wrapper ping-poster">
        <audio [attr.src]="filePreviewSrc" controls autoplay></audio>
      </div>
    </ng-template>
    <div *ngIf="fileType === 'video'" class="video-wrapper">
      <video [attr.src]="filePreviewSrc" controls autoplay
             poster="./assets/images/corporate/other/ping-600x335-dark.png">
        <p>Your user agent does not support the HTML5 Video element.</p>
      </video>
    </div>
  </div>
  <div class="preview-details">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="modal-title">{{data.node.name}}</strong>
      <div class="d-flex flex-column">
        <span class="badge badge-dark bg-primary-blue">
            {{data.node.name}}
        </span>
        <span class="blockquote-footer">
          {{data.node.fileSizeInKB}}
        </span>
      </div>
    </div>
    <hr />
    <div class="info">
      <p>
        <strong>{{data.node.ownerFirstname}} {{data.node.ownerLastname}}</strong>
        <span> - {{data.node.creationTime}}</span>
      </p>
      <p>
        <mat-icon>lock</mat-icon>
        {{data.node.private ? 'Private' : 'Public'}}
      </p>
      <button mat-button>Share</button>
      <button mat-button>More</button>
      <button mat-button>Copy URL</button>
    </div>
  </div>
  <button mat-button (click)="downloadFile()">Download</button>
</div>
