::ng-deep .file-preview-dialog {
  ::ng-deep .mat-dialog-container {
    padding: 0;
    ::ng-deep .mat-dialog-content {
      max-height: calc(100vh - 25px);
      padding: 0;
      margin: 0;
    }
    div, app-file-preview, img {
      width: inherit;
      max-width: inherit;
    }
  }
}
.preview-close-btn {
  z-index: 1;
}
.video-wrapper {
  video {
    max-width: inherit;
    width: inherit;
  }
}
.audio-wrapper {
  &.ping-poster {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin-bottom: 35px;

    audio {
      outline: none;
      margin: 0 25px -25px;
    }
  }
}
